### Insert player and goalie statistics into MySQL tables

In [1]:
# Packages
import pandas as pd
import sqlalchemy

In [19]:
# User input
season = '2023'
skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/stats/past_seasons/skaters_' + season + '.csv'
goalies_path = '/Volumes/LUNANI/sports_betting_csv_backup/stats/past_seasons/goalies_' + season + '.csv'

In [20]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

### Skaters

In [21]:
# Read in CSV files
skater = pd.read_csv(skater_path)
display(skater.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,...,SHA,S,S_perc,shifts,TOI,HIT,BLK,FOW,FOL,FOW_perc
0,/a/abruzni01,Nicholas Abruzzese,23,2023,1,2023-04-02,TOR,DET,1,L,...,0,0,NaN,16,9.100000,1,0,0,0,NaN
1,/a/abruzni01,Nicholas Abruzzese,23,2023,2,2023-04-04,TOR,CBJ,1,W,...,0,2,0.0,14,8.850000,0,0,0,0,NaN
2,/a/acciano01,Noel Acciari,30,2023,1,2022-10-15,STL,CBJ,1,W,...,0,0,NaN,16,12.083333,6,0,6,3,66.7
3,/a/acciano01,Noel Acciari,30,2023,2,2022-10-19,STL,SEA,0,W,...,0,2,0.0,13,12.466667,2,2,4,4,50.0
4,/a/acciano01,Noel Acciari,30,2023,3,2022-10-22,STL,EDM,0,W,...,0,0,NaN,18,15.100000,2,4,4,2,66.7

In [22]:
# Select the correct columns, rename, and order them
skater = skater[['player_id', 'player_name', 'age', 'team', 'game_num', 'date', 'opponent', 'G', 'A', 'P', 'rating', 'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S_perc', 'shifts', 'TOI', 'HIT', 'BLK', 'FOW', 'FOL', 'FOW_perc']].rename(columns={'player_name':'name', 'S_perc':'S_pct', 'FOW_perc':'FOW_pct'})

In [23]:
# Insert into skater statistics table
skater.to_sql(name = 'skater_games', con=engine, schema='nhl', if_exists='append', index=False)

47207

In [24]:
# Empty the df
#skater = skater.iloc[0:0]
#skater.to_csv(skater_path, header=True, index=False)

### Goalies

In [25]:
# Read in CSV files
goalie = pd.read_csv(goalies_path)
display(goalie.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,decision,GA,SA,SV,SV_perc,shutout,PIM,TOI
0,/a/alexaje01,Jett Alexander,23,2023,1,2023-04-08,TOR,MTL,1,W,NaN,0,0,0,NaN,0,0,1.166667
1,/a/allenja01,Jake Allen,32,2023,1,2022-10-12,MTL,TOR,1,W,W,3,32,29,0.906,0,0,59.783333
2,/a/allenja01,Jake Allen,32,2023,2,2022-10-14,MTL,DET,0,L,L,1,38,37,0.974,0,0,58.533333
3,/a/allenja01,Jake Allen,32,2023,3,2022-10-20,MTL,ARI,1,W,W,2,27,25,0.926,0,0,59.983333
4,/a/allenja01,Jake Allen,32,2023,4,2022-10-22,MTL,DAL,1,L,L,5,30,25,0.833,0,0,60.000000

In [26]:
# Select the correct columns, rename, and order them
goalie = goalie[['player_id', 'player_name', 'age', 'team', 'game_num', 'date', 'opponent', 'decision', 'GA', 'SA', 'SV', 'SV_perc', 'shutout', 'PIM', 'TOI']].rename(columns={'player_name':'name', 'SV_perc':'SV_pct'})

In [27]:
# Insert into goalie statistics table
goalie.to_sql(name = 'goalie_games', con=engine, schema='nhl', if_exists='append', index=False)

2785

In [ ]:
# Empty the df
#goalie = goalie.iloc[0:0]
#goalie.to_csv(goalie_path, header=True, index=False)