### Insert player and goalie statistics into MySQL tables

In [3]:
# Packages
import pandas as pd
import sqlalchemy
from mysql_class import MySQL

In [2]:
# User input
skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/skater_games.csv'
goalies_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/goalie_games.csv'

In [4]:
# Create the engine to connect to the MySQL database
mysql = MySQL()
mysql.connect()

### Skaters

In [7]:
# Read in CSV files
skater = pd.read_csv(skater_path)
display(skater.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,...,SHA,S,S_perc,shifts,TOI,HIT,BLK,FOW,FOL,FOW_perc
0,abramvi01,vitaly abramov,22,2021,1,2021-05-05,OTT,MTL,1,W,...,0,0,NaN,12,9.633333,0,0,0,0,NaN
1,abramvi01,vitaly abramov,23,2021,2,2021-05-08,OTT,WPG,0,W,...,0,0,NaN,12,9.800000,0,0,0,0,NaN
2,acciano01,noel acciari,29,2021,1,2021-01-17,FLA,CHI,1,W,...,0,1,0.0,21,14.633333,2,1,5,10,33.3
3,acciano01,noel acciari,29,2021,2,2021-01-19,FLA,CHI,1,W,...,0,0,NaN,23,15.266667,3,3,5,10,33.3
4,acciano01,noel acciari,29,2021,3,2021-01-26,FLA,CBJ,0,W,...,0,0,NaN,25,17.200000,1,3,12,7,63.2

In [8]:
# Select the correct columns, rename, and order them
skater = skater[['player_id', 'team', 'game_num', 'date', 'opponent', 'G', 'A', 'P', 'rating', 'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S_perc', 'shifts', 'TOI', 'HIT', 'BLK', 'FOW', 'FOL', 'FOW_perc']].rename(columns={'S_perc':'S_pct', 'FOW_perc':'FOW_pct'})

In [15]:
# Insert into skater statistics table
skater.to_sql(name = 'skater_game', con=mysql.engine, schema='nhl', if_exists='append', index=False)

150471

In [24]:
# Empty the df
#skater = skater.iloc[0:0]
#skater.to_csv(skater_path, header=True, index=False)

### Goalies

In [18]:
# Read in CSV files
goalie = pd.read_csv(goalies_path)
display(goalie.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,decision,GA,SA,SV,SV_perc,shutout,PIM,TOI
0,allenja01,jake allen,30,2021,1,2021-01-18,MTL,EDM,0,W,W,1,26,25,0.962,0,0,59.650000
1,allenja01,jake allen,30,2021,2,2021-01-21,MTL,VAN,0,W,W,3,17,14,0.824,0,0,59.766667
2,allenja01,jake allen,30,2021,3,2021-01-30,MTL,CGY,1,L,L,1,32,31,0.969,0,0,58.850000
3,allenja01,jake allen,30,2021,4,2021-02-02,MTL,VAN,1,W,W,3,39,36,0.923,0,0,59.666667
4,allenja01,jake allen,30,2021,5,2021-02-06,MTL,OTT,0,W,W,1,35,34,0.971,0,0,60.000000

In [19]:
# Select the correct columns, rename, and order them
goalie = goalie[['player_id', 'team', 'game_num', 'date', 'opponent', 'decision', 'GA', 'SA', 'SV', 'SV_perc', 'shutout', 'PIM', 'TOI']].rename(columns={'SV_perc':'SV_pct'})

In [20]:
# Insert into goalie statistics table
goalie.to_sql(name = 'goalie_game', con=mysql.engine, schema='nhl', if_exists='append', index=False)

8928

In [ ]:
# Empty the df
#goalie = goalie.iloc[0:0]
#goalie.to_csv(goalie_path, header=True, index=False)